# Path to the secret key of the account that will be used to deploy the contracts.
ODRA_CASPER_LIVENET_SECRET_KEY_PATH=/path/to/secret.pem

# RPC address of the node that will be used to deploy the contracts.
ODRA_CASPER_LIVENET_NODE_ADDRESS=https://node.testnet.casper.network/rpc
ODRA_CASPER_LIVENET_EVENTS_URL=https://node.testnet.casper.network/events

# Chain name of the network.
ODRA_CASPER_LIVENET_CHAIN_NAME=casper-test

CSPR_CLOUD_AUTH_TOKEN=token